[Unit]
Description = Sync user account changes back to management server %i
After = network-online.target syslog.target
Wants = network-online.target

[Service]
Type = oneshot
ExecStart = /bin/bash -c '/usr/bin/python /opt/trusted-computer-useraccount-sync/export_user_accounts.py | ssh login@%i /usr/bin/python /opt/trusted-computer-useraccount-sync/user_account_syncback.py'

[Install]
WantedBy = multi-user.target
