[Unit]
Description=Sync user account changes back to management server (%i)

[Timer]
OnCalendar=*:0/5
RandomizedDelaySec=60s
Persistent=true

[Install]
WantedBy=multi-user.target